* {
  box-sizing: border-box;
}

header {
  height: 50vh;
  background-color: cyan;
  background-position: right bottom 20%;
  background-image: url(images/lighthouse-145556_1280.png);
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /*color: rgb(8, 168, 168);*/
  margin: 0 auto;
  width: 80%;
  line-height: 1.5;
  align-content: center;
}
ul {
  border: 2px solid black;
  border-radius: 4px;
  max-width: 300px;
  line-height: 2.5;
}

#current-weather {
  margin-bottom: 10vh;
}

h1 {
  font-size: 40px;
  font-weight: 100;
}

h2 {
  font-size: 14px;
}

li {
  list-style: none;
}
